.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: plum;
}

code {
  font-family: Arial;
}

.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: rgb(52, 169, 223);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  width: 20%;
  height: 50px;
  margin-bottom: 6px;
  border-radius: 50px;
  transition: 0.5s;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
}
.todo:hover {
  border: solid 3px red;
  background-color: gold;
  color: rgb(230, 44, 84);
  width: 25%;
  height: 70px;
}
.input {
  background-color: rgb(214, 187, 168);
  width: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: none;
  padding: 1rem;
  height: 10px;
  width: 200px;
  font-size: 24px;
  border: double 10px blue;
  transition: 0.7s;
}
.input:hover {
  height: 20px;
  width: 300px;
  border: double 10px purple;
}
